@use '../../style.scss';

.select_country{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .label{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        height: fit-content;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: style.$point_blue;
        cursor: pointer;
        input{
            cursor: pointer;
        }
        .h4{
            padding-top: 6px;
            font-size: 1rem;
            font-weight: 500;
            color: #fff;
        }
    }
    .label:hover{
        background-color: style.$wide_blue;
    }
}
