@use '../../style.scss';

@mixin display-items($direction : column , $justify : center , $align : center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }

.writeForm_container{
    @include display-items();
    width: 50vw;
    height: 400px;
    margin: 16px;
    border-radius: 10px;
    box-shadow: 0 0 20px #222f3e;
    .writeForm_select_country{
        @include display-items();
    }
    .writeForm_select_date{
        @include display-items();
    }
    .writeForm_input_food{
        @include display-items();
        .writeForm_input{
            padding: 7px 16px;
            margin: 12px;
            outline-color: style.$wide-red;
            border-radius: 10px;
            border: 2px solid style.$main-yellow;
        }
    }
    .flex_a_center{
        display: flex;
        align-items: center;
        p{
            padding-right: 16px;
        }
        .star_rating{
            cursor: pointer;
            font-size: 2rem;
        }
    }
}

@mixin mobile {
    @media (min-width: #{style.$breakpoint-mobile}) and (max-width: #{style.$breakpoint-tablet - 1px}) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: #{style.$breakpoint-tablet}) and (max-width: #{style.$breakpoint-desktop - 1px}) {
      @content;
    }
  }
  
  
  @include mobile {
    .writeForm_container{
      width: 100vw;
    }
  
  }
  
  @include tablet {
    .writeForm_container{
      width: 100vw;
    }
  }