@use '../style.scss';

@mixin display-items($direction : row , $justify : center , $align : center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

/*NAvigation*/
.header_nav{
  @include display-items(row, center, center);
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: style.$main-yellow;
  overflow-x: hidden;
  .header_first_ul{
    @include display-items(row, space-around, center);
    width: 100%;
    height: 120px;
    a{text-decoration: none; color: black;}
    .header_li{
      @include display-items(row, center, center);
      width: fit-content;
      height: 100%;
      list-style: none;
      font-size: 1.2em;
      letter-spacing: -1px;
      cursor: pointer;
      span{
        background-color: antiquewhite;
        color: style.$wide-black;
        padding: 5px;
        border-radius: 10px;
        border: 4px double style.$point-red;
        font-weight: 600;
      }
    }
  }
}
