 @use '../style.scss';
 
 @mixin display-items($direction : row , $justify : center , $align : center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.mypage_container{
  @include display-items(column, center , center);
  width: 100vw;
  height: 100vh;
  .mypage_box{
    @include display-items(column, center , center);
    width: fit-content;
    min-width: 350px;
    border-radius: 10px;
    box-shadow:inset 0px 0px 1px #bdbdbd, 2px 2px 2px #bdbdbd;
    padding: 20px;
    .mypage_item{
      @include display-items(row, space-around , center);
      width: 100%;
      padding: 0 16px;
      border: 1px solid #bdbdbd;
      border-radius: 10px;
      .mypage_p{
        width: 100%;
        .mypage_span{
          padding-left: 12px;
          border-left: 1px solid #424242;
        }
      }
    }
  }
}


