@use "../../style.scss";

.label{
    width: 100%;
    text-align: left;
    letter-spacing: -0.7px;
    font-family: "Noto Sans KR", sans-serif;
}
.input{
    padding: 7px 16px;
    margin: 12px;
    outline-color: style.$wide-red;
    border-radius: 10px;
    border: 2px solid style.$main-yellow;
}