@use "../../style.scss";

.warning{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    label{
        width: 310px;
        text-align: center;
        font-size: 2em;
        font-weight: 600;
        letter-spacing: -3px;
    }
    .warning_progress{
        width: 100%;
        background-color: style.$point-red;
    }
}