@use '../../style.scss';

@mixin display-items($direction : column , $justify : center , $align : center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
  
.contents_container{
    @include display-items();
    width: 50vw;
    min-height: 150px;
    margin: 16px;
    border-radius: 10px;
    box-shadow: 0 0 20px style.$wide-black; 
}

@mixin mobile {
  @media (min-width: #{style.$breakpoint-mobile}) and (max-width: #{style.$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{style.$breakpoint-tablet}) and (max-width: #{style.$breakpoint-desktop - 1px}) {
    @content;
  }
}


@include mobile {
  .contents_container{
    width: 100vw;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    border-top: 1px solid style.$light-grey;
  }

}

@include tablet {
  .contents_container{
    width: 100vw;
  }
}