$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

$main-yellow: #feca57;
$point-red: #ee5253;
$wide-red: #ff6b6b;
$point-blue: #341f97;
$wide-blue : #2e86de;
$wide-black: #222f3e;
$light-grey: #e0e0e0;
$font-stack: sans-serif;


@mixin display-items($direction : row , $justify : center , $align : center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}


@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}


@include mobile {
}

@include tablet {

}